@import url('./fonts/fonts.scss');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
}

.landing {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  color: #414143;
  font-family: 'PT Sans', sans-serif;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;

  &--padding-s {
    padding-top: 20px;
  }

  &--dark {
    background-color: #414143;
  }

  &--orange {
    background-color: #f9ab63;
  }

  &--gradient-blue {
    background: linear-gradient(180deg, #FFF 0%, #a1d4ff 100%);
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}