body {
  margin: 0;
}

.landing {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  color: #414143;
  font-family: Garet;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
