body {
  margin: 0;
}

.landing {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  color: #414143;
  font-family: Garet;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;

  &--dark {
    background-color: #414143;
  }

  &--orange {
    background-color: #f9ab63;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}