.principles {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &_img {
    align-self: center;
    position: relative;
    top: -3px;
  }

  &_title {
    margin-top: 10px;
    margin-bottom: 0;
    color: #414143;
    font-family: 'PT Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.18px;
  }

  &_description {
    margin: 0;
    margin-top: 15px;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #ff9a36;
    font-family: 'Garet';
    font-size: 24px;
    font-style: normal;
    font-weight: 850;
    line-height: 28px;
    letter-spacing: 0.24px;
    padding-left: 23px;

    &::before {
      position: absolute;
      left: 0;
      content: '';
      display: block;
      width: 10px;
      background: #ff9a36;
      box-shadow: 5px 5px 0px #414143;
      height: 100%;
    }
  }

  &_title2 {
    margin-top: 35px;
    margin-bottom: 0;
    color: #414143;
    font-family: 'Garet';
    font-size: 18px;
    font-style: normal;
    font-weight: 850;
    line-height: 18px;
    letter-spacing: 0.09px;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 29px;
    margin: 0;
    margin-top: 10px;
    color: #414143;
  }

  &_item {
    color: #414143;
    font-family: 'PT Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
}
