.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fffdfb;
  padding-bottom: 30px;
  padding-top: 20px;

  &_cat {
    width: 100%;
    max-width: 450px;
    height: auto;
  }

  &_title {
    margin-top: 8px;
    margin-bottom: 20px;
    color: #414143;
    font-family: 'Garet';
    font-size: 32px;
    font-style: normal;
    font-weight: 850;
    line-height: normal;
  }
}