@font-face {
  font-family: 'Garet';
  font-style: normal;
  font-weight: 850;
  font-display: swap;
  src: url('./Garet-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: 'Garet';
  font-style: normal;
  font-weight: 850;
  font-display: swap;
  src: url('./Garet-Heavy.woff') format('woff');
}
