.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  &_item {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #238BF2;
    border-radius: 50%;
  }

  &_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
