.accordionList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1080px;

  &_item {
    width: 100%;
  }

  &_button {
    position: relative;
    background-color: #ffffff;
    cursor: pointer;
    color: #414143;
    font-family: 'PT Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.18px;
    border-bottom: 1px solid #ededed;
    padding: 18px 8px;
    padding-right: 35px;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;

    &[aria-expanded='true'],
    &[aria-selected='true'] {
      font-family: 'Garet';
      font-weight: 850;
      line-height: 18px;
      letter-spacing: 0.09px;
    }

    &::after {
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      content: '';
      height: 8px;
      width: 13px;
      background: url('./assets/arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 0.3s ease;
    }

    &[aria-expanded='true']::after,
    &[aria-selected='true']::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &_panel {
    background-color: #ffffff;
    padding: 0;
    animation: fadein 0.35s ease;
    transition: all 0.3s ease;

    img {
      width: 100%;
      height: auto;
    }
  }

  &_content {
    position: relative;
    width: 100%;
  }

  &_textBlock {
    position: absolute;
    max-width: 45%;

    p {
      color: #414143;
      font-family: 'Garet';
      font-size: 16px;
      font-style: normal;
      font-weight: 850;
      line-height: 18px;
      letter-spacing: 0.16px;
    }

    ul {
      margin: 0;
      margin-top: 10px;
      padding-left: 20px;
    }

    li {
      color: #414143;
      font-family: 'PT Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0.06px;
    }

    &_1 {
      top: 50%;
      transform: translateY(-50%);
      left: 15px;

      p {
        max-width: 160px;
      }
    }

    &_2 {
      max-width: 33%;
      left: 10%;
      top: 16%;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
